name: Build

on:
  pull_request:
    branches: [master]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cli:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:cli

  server:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:server

  website:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:website

  web-app:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:web-app

  mobile-app:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:mobile-app

  desktop-app:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:desktop-app
