name: Build

on:
  pull_request:
    branches: [master]

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-affected:
    runs-on: ubuntu-latest
    outputs:
      global: ${{ steps.build-affected.outputs.global }}
      cli: ${{ steps.build-affected.outputs.cli }}
      server: ${{ steps.build-affected.outputs.server }}
      website: ${{ steps.build-affected.outputs.website }}
      web_app: ${{ steps.build-affected.outputs.web_app }}
      mobile_app: ${{ steps.build-affected.outputs.mobile_app }}
      desktop_app: ${{ steps.build-affected.outputs.desktop_app }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-pnpm-node
      - id: build-affected
        uses: ./.github/actions/check-affected-build
        with:
          base-sha: ${{ github.event.pull_request.base.sha }}
          head-sha: ${{ github.event.pull_request.head.sha }}

  cli:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.cli == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:cli

  server:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.server == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:server

  website:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.website == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:website

  web-app:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.web_app == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:web-app

  mobile-app:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.mobile_app == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:mobile-app

  desktop-app:
    needs: check-affected
    if: needs.check-affected.outputs.global == 'true' || needs.check-affected.outputs.desktop_app == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-node
      - run: pnpm build:desktop-app
